:root{
    --TextoPrincipal: white;
    --cor_primaria: #34495e;
    --cor_secundaria: #03dac6;
    --cor_terciaria: rgba(142, 142, 143, 0.349);
}

body{
    background-image: url(sky.jpg);
    margin: auto;
  }
.menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor_primaria);
    font-family:'Times New Roman', Times, serif;
  }
.item_menu{
    margin: 0%;
    display: flex;
  }
.menu_link{
  padding: 20px;
  border: none;
  color: var(--TextoPrincipal);
  font-size: 120%;
  background-color: var(--cor_primaria);
}
.menu_link:hover{
  padding:20px;
  border: none;
  background-color: var(--cor_secundaria);
  color: navy;
  text-decoration: none;
}
article{
  margin: 5% 10%;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  color: white;
  box-shadow:0px 0px 25px rgba(0, 0, 0, 1);
}
.article{
  padding: 10px 80px;
  border-radius: 10px;
  border: 20px;
  background-color: var(--cor_primaria);
  color: var(--TextoPrincipal);
  box-shadow:0px 0px 25px rgba(0, 0, 0, 1);
}
.article:hover{
  background-color: var(--cor_secundaria);
  color: navy;
}
footer{
  box-shadow:0px 0px 25px rgba(0, 0, 0, 1);
  margin: none;
  padding: 10px 0px 3px 0px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  color: var(--TextoPrincipal);
}
a:link{
    color: var(--TextoPrincipal);
    text-decoration: none;
  }
a:hover{
    text-decoration: underline;
  }
a:visited{
    color: var(--TextoPrincipal);
 }