:root{
  --TextoPrincipal: white;
  --cor_primaria: #34495e;
  --cor_secundaria: #03dac6;
  --cor_terciaria: rgba(142, 142, 143, 0.349);

}
html {
  height: 100%;
  min-height: 100%;
}
body{
  background-image: url(sky.jpg);
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor_primaria);
    font-family:'Times New Roman', Times, serif;
  }
.item_menu{
    margin: 0%;
    display: flex;
  }
.menu_link{
  padding: 20px;
  border: none;
  color: var(--TextoPrincipal);
  font-size: 120%;
  background-color: var(--cor_primaria);
}
.menu_link:hover{
  padding:20px;
  border: none;
  background-color: var(--cor_secundaria);
  color: navy;
  text-decoration: none;
}
.responsive{
  display: none;
}
#destaque{
  box-shadow:0px 0px 25px rgba(0, 0, 0, 1);
  margin: 5% 15% 5% ;
  width: 70%;
  border-radius: 20px 20px 20px 20px;
}
#menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}
#menu button{
  padding: 3%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: var(--TextoPrincipal);
  border: none;
  margin: none;
}
#btcad{
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0px 20px 0px 0px
}
#cad{
  display: none;
}

.login{
    text-align: center;
    padding: 15px 0px 50px 0px;
    font-size: 120%;
    color: var(--TextoPrincipal);
    border-radius: 0px 0px 20px 20px;
}
#log{
  font-size: 150%;
}
.button{
  padding: 1% 4%;
  border: none;
  background-color:var(--cor_secundaria);
  font-size: 80%;
  border-radius: 20px;
  margin: 1%;
}
.input{
  padding: 1% 4%;
  border: none;
  background-color:white;
  font-size: 80%;
  border-radius: 20px;
  margin: 1%;
}
footer{
  box-shadow:0px 0px 25px rgba(0, 0, 0, 1);
  margin: none;
  padding: 10px 0px 3px 0px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  color: var(--TextoPrincipal);
  align-items: end;
  margin-top: auto;
}
.button:hover{
  background-color: var(--cor_secundaria);
  color: var(--TextoPrincipal);
}
a:link{
    color: var(--TextoPrincipal);
    text-decoration: none;
    }
a:hover{
      text-decoration: underline;
    }
a:visited{
    color: var(--TextoPrincipal);
  }
#error{
  color: red;
  font-size: 90%;
}
#erro{
  color: red;
  font-size: 90%;
}
@media only screen and (max-width: 700px){
  #log{
    font-size: 100%;
  }
  .menu{
    display: none;
  }
  .responsive{
    display: block;
  }
  #responsive_menu{
    display: none;
  }
  .responsive .menu_link{
    display: block;
  }
  .menu_responsive{
    margin: none;
  }
  .menu_responsive{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3%;
    border: none;
    color: var(--TextoPrincipal);
    font-size: 120%;
    background-color: var(--cor_primaria);
  }
  .item_responsive{
    width: 85%;
  }
  .bt_responsive{
    width: 15%;
    border: none;
    color: var(--TextoPrincipal);
    font-size: 120%;
    background-color: var(--cor_primaria);
  }
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--TextoPrincipal);
  }
}
