<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Area do aluno</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style_area do aluno.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/Logo-Nave-titulo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function menssage(menssage){
            if (menssage == 'senhas_distintas'){
                document.getElementById("erro").innerHTML = "As senhas não são correspondentes";
                bt_cad()
            }
            else if (menssage == 'login_cadastrado'){
                document.getElementById("erro").innerHTML = "Login ja cadastrado";
                bt_cad()
            }
            else if (menssage == 'login_inexistente'){
                document.getElementById("error").innerHTML = "Login não cadastrado";
            }
            else if (menssage == 'senha_incorreta'){
                document.getElementById("error").innerHTML = "Senha incorreta";
            }
        }
        function bt_log() {
            document.getElementById('cad').style.display = 'none';
            document.getElementById('log').style.display = 'block';
            document.getElementById('btcad').style.boxShadow = 'inset 0px 0px 25px rgba(0, 0, 0, 0.5)';
            document.getElementById('btlog').style.boxShadow = 'none';
            document.getElementById('btcad').style.borderRadius =  '0px 20px 0px 0px';
        }
        function bt_cad() {
            document.getElementById('log').style.display = 'none';
            document.getElementById('cad').style.display = 'block';
            document.getElementById('btlog').style.boxShadow = 'inset 0px 0px 25px rgba(0, 0, 0, 0.5)';
            document.getElementById('btcad').style.boxShadow = 'none';
            document.getElementById('btlog').style.borderRadius = '20px 0px 0px 0px';
        }   
    </script>

</head>
<body>
    <div>
        <header class="menu">
            <a class="menu_link" class="item_menu" href="/">Nave do Conhecimento</a>
            <nav class="item_menu">
                <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                <a class="menu_link" href="/eventos">Eventos</a>
                <a class="menu_link" href="/unidades">Unidades</a>
                <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <section id="destaque">  
        <div id="menu">
            <button id='btlog'onclick= "bt_log()">Login</button>
            <button id='btcad'onclick= "bt_cad()">Cadastro</button>
        </div>
        <div class="login" id="log">
            <form action="{{url_for('validacion')}}" method="post">
            <h2>Login</h2>
            <h3>User</h3> 
            <input class="input" type="text" name="login">
            <h3>Senha</h3>
            <input class="input" type="password" name="senha">
            <p id="error"></p>
            <br>
            <button class="button">Confirm</button>
            </form>
        </div>
        <div class="login" id="cad">
            <form action="{{url_for('validacion')}}" method="post">
                <h2>Novo Cadastro</h2>
                <p>User</p>
                <input type="text" name="cad" class="input">
                <p>Senha</p>
                <input type="password" name="senha1" class="input">
                <p>Confirmar senha</p>
                <input type="password" name="senha2" class="input">
                <p id="erro"></p>
                <br>
                <button class="button">Confirm</button>
            </form>
            {% with messages = get_flashed_messages() %}
            <script>menssage('{{messages[0]}}')</script>
            {% endwith %}
        </div>
        </section>
    </div>
    <footer>
        <p>Nave do conhecimento<br><br>Prefeitura do Rio de Janeiro</p>
    </footer>
</body>
</html>
