<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style_evento.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/Logo-Nave-titulo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='script.js')}}" async></script>
</head>
<body>
    <div>
        <header class="menu">
            <a class="menu_link" class="item_menu" href="/">Nave do Conhecimento</a>
            <nav class="item_menu">
                <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                <a class="menu_link" href="/eventos">Eventos</a>
                <a class="menu_link" href="/unidades">Unidades</a>
                <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <header class="responsive">
            <div class="menu_responsive">
                <p class="item_responsive">Nave do Conhecimento</p>
                <div class="aling_hamburger">
                <input class="checkbox" type="button" onclick="bt_responsive()" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                </div>  
            </div>
            <nav id="responsive_menu">
                    <a class="menu_link" href="/">Inicio</a>
                    <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                    <a class="menu_link" href="/eventos">Eventos</a>
                    <a class="menu_link" href="/unidades">Unidades</a>
                    <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <article>
            <h2>Cine Nave</h2>
            <p>
                Graças a secretaria municipal de Ciencia e Tecnologia, nós da nave do conhecimento
                estamos trazendo diversos filmes para você e seus amigos assistirem conosco atravez
                do Cine Nave onde estaremos exibindo diversos filmes conhecidos pelo publico
            </p>
            <button class="article">Saiba mais...</button>
        </article>
        <article>
            <h2>Dia da cidadania digital</h2>
            <p>Sabe aquelas dificuldades para resolver problemas pela internet?<br>
                Vem para Nave do Conhecimento que aqui terá uma equipe um dia inteiro<br>
                para te ajudar!Confira tudo que você pode fazer no dia da cidadania digital:<br>
                <br> 
                AGENDAMENTO PARA PRIMEIRA OU SEGUNDA VIA DE DOCUMENTOS;<br>
                AGENDAMENTOS ONLINE EM GERAL;<br>
                CADASTRO NO CONECTE SUS;<br>
                CADASTRO DE CURRÍCULO;<br>
                CONSULTA PIS;<br>
                ENTRE OUTROS;
            </p>
                <button class="article">Saiba mais...</button>
        </article>
        <footer>
            <p>Nave do conhecimento<br>Prefeitura do Rio de Janeiro</p>
        </footer>
    </div>
</body>
</html>