<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/finalizar_cad.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/Logo-Nave-titulo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="menu">
        <a class="menu_link" class="item_menu" href="/">Nave do Conhecimento</a>
        <nav class="item_menu">
            <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
            <a class="menu_link" href="/eventos">Eventos</a>
            <a class="menu_link" href="/unidades">Unidades</a>
            <a class="menu_link" href="/user">Area do aluno</a>
        </nav>
    </header>
    <header class="responsive">
        <div class="menu_responsive">
            <p class="item_responsive">Nave do Conhecimento</p>
            <div class="aling_hamburger">
            <input class="checkbox" type="button" onclick="bt_responsive()" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            </div>  
        </div>
        <nav id="responsive_menu">
                <a class="menu_link" href="/">Inicio</a>
                <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                <a class="menu_link" href="/eventos">Eventos</a>
                <a class="menu_link" href="/unidades">Unidades</a>
                <a class="menu_link" href="/user">Area do aluno</a>
        </nav>
    </header>
    <div id="destaque">
    <section class="login">
        <form action="{{url_for('finalizar_cad')}}" method="post">
            <h2>Finalizar cadastro</h2>
            <div class="login_og">
            <div>
            <p>Nome Completo</p>
            <input type="text" name="nome" class="input">
            <p>Nome Social</p>
            <input type="text" name="nome_s" class="input">
            <p>Email</p>
            <input type="email" name="email" class="input">
            <p>Data de Nascimento</p>
            <input type="date" name="data_n" class="input" id="date">
            <p>Sexo</p>
            <input type="radio" name="sexo" value="masculino">
            <label>Masculino</label>
            <input type="radio" name="sexo" value="feminino">
            <label>Feminino</label>
            <input type="radio" name="sexo" value="indefinido">
            <label>Indefinido</label>
            <input type="hidden" name="user" value={{login}}>
            <input type="hidden" name="user_senha" value={{senha}}>
            </div>
            <div>
            <p>CPF</p>
            <input type="text" name="cpf" \
			pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" \
			title="Digite um CPF no formato: xxx.xxx.xxx-xx" class="input">
            <p>Celular</p>
            <input type="text" pattern="[0-9]{12}" title="Digite um numero de telefone com 12 digitos"  name="celular" class="input">
            <p>UF</p>
            <input list="ufs" name="uf" id="uf" class="input">
            <datalist id="ufs"></datalist>
            <p>Municipio</p>
            <input list="municipios" name="municipio" class="input">
            <datalist id="municipios"></datalist>
            <p>Cor/Etina</p>
            <input type="radio" name="cor" value="preta">
            <label>Preta</label>
            <input type="radio" name="cor" value="branca">
            <label>Branca</label>
            <input type="radio" name="cor" value="indigina">
            <label>Indigina</label>
            <input type="radio" name="cor" value="indefinido">
            <label>Indefinido</label>
            </div>
            </div>
            <p id="erro"></p>
            <button class="button">Confirmar</button>
        </form>
    </section>
    </div>
    <footer>
        <p>Nave do conhecimento<br><br>Prefeitura do Rio de Janeiro</p>
    </footer>
    <script>
        function bt_responsive(){
            if (document.getElementById('responsive_menu').style.display == 'block'){
                document.getElementById('responsive_menu').style.display = 'none';
            }
            else{
                document.getElementById('responsive_menu').style.display = 'block';
            }
        }
        function ufs(){
            x = document.getElementById("ufs")
            fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados")
            .then(r =>  r.json())
            .then(r => r.forEach(i => x.appendChild(new Option(i["sigla"]))))
        }
        function municipios(){
            x=document.getElementById("uf")
            y=document.getElementById("municipios")
            fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${x.value}/municipios`)
            .then(r =>  r.json())
            .then(r => r.forEach(i => y.appendChild(new Option(i["nome"]))))
        }
        document.getElementById("uf").addEventListener("change", municipios, false);
        ufs()
    </script>
</body>
</html>