<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style_user.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/Logo-Nave-titulo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <header class="menu">
            <a class="menu_link" class="item_menu" href="/">Nave do Conhecimento</a>
            <nav class="item_menu">
                <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                <a class="menu_link" href="/eventos">Eventos</a>
                <a class="menu_link" href="/unidades">Unidades</a>
                <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <header class="responsive">
            <div class="menu_responsive">
                <p class="item_responsive">Nave do Conhecimento</p>
                <div class="aling_hamburger">
                <input class="checkbox" type="button" onclick="bt_responsive()" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                </div>  
            </div>
            <nav id="responsive_menu">
                    <a class="menu_link" href="/">Inicio</a>
                    <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                    <a class="menu_link" href="/eventos">Eventos</a>
                    <a class="menu_link" href="/unidades">Unidades</a>
                    <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <section class="destaque">
            <div class="apresentação">
                <div id="div_ap">
                <h2>Bem-vindo<br>{{account.capitalize()}}</h2>
                <img id="img_destaque" src="{{url_for('static', filename='imagens/defaut user.png')}}" alt="">
                <form id="form" action="{{url_for('img')}}" method="post" enctype="multipart/form-data">
                    <input type="file" id="input_img" name="input_img">
                    <input type="hidden" id='login' name="login" value="{{account}}">
                    <label for="input_img">Trocar imagem de Perfil</label>
                    <input type="submit" id="submit">
                </form>
                </div>
            <label for="submit" id="label_submit">Enviar</label>
            </div>
            <div class="menus">
             <div class="menu_user">
                <button id="bt_cursos">Meus Cursos</button>
                <a id="bt_moodle" href="https://moodle.navedoconhecimento.rio/">Acesse o Moodle</a>
                <button id="bt_edit_perfil">Editar Perfil</button>
             </div>
            </div>
            
        </section>
    </div>
    <footer>
        <p>Nave do conhecimento<br><br>Prefeitura do Rio de Janeiro</p>
    </footer>
    <script>
        function bt_responsive(){
            if (document.getElementById('responsive_menu').style.display == 'block'){
                document.getElementById('responsive_menu').style.display = 'none';
            }
            else{
                document.getElementById('responsive_menu').style.display = 'block';
            }
        }
        function img_apresentacao(){
            if (this.files && this.files[0]) {
            var file = new FileReader();
            file.onload = function(e) {
            document.getElementById("img_destaque").src = e.target.result;
            document.getElementById("label_submit").style.display = "block";
            document.getElementById("div_ap").style.margin = '0';
            document.getElementById("div_ap").style.marginLeft = 'auto'
        };       
        file.readAsDataURL(this.files[0]);
        }
        }
        function submit(){

        }
        document.getElementById("input_img").addEventListener("change", img_apresentacao, false);
    </script>
</body>
</html>