<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style_user.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/Logo-Nave-titulo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#34495E">
</head>
<body>
    <div>
        <header class="menu">
            <a class="menu_link" class="item_menu" href="/">Nave do Conhecimento</a>
            <nav class="item_menu">
                <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
                <a class="menu_link" href="/eventos">Eventos</a>
                <a class="menu_link" href="/unidades">Unidades</a>
                <a class="menu_link" href="/user">Area do aluno</a>
            </nav>
        </header>
        <section id="aluno">
            <div id="apresentação">
                <h2>Bem-vindo {{account}}</h2>
                <img src="https://pps.whatsapp.net/v/t61.24694-24/231627847_5572191659558527_451333940719747452_n.jpg?ccb=11-4&oh=01_AVzmMmjcegUQMbuvW2GrizDCUhBr0fMcF2sOv3QaJ7L9zw&oe=6348795A" alt="" width="20%" height="auto">
            </div>
            <div id="menu_login">
            <button>Meus Cursos</button>
            <button>Acesse o Moodle</button>
            <button>Editar Perfil</button>
            </div>
            <div id="cursos">
                <button>Cursos Pendentes</button>
                <button>Cursos em Andamento</button>
                <Button>Cursos Concluidos</Button>
            </div>
            
        </section>
    </div>
    <footer>
        <p>Nave do conhecimento<br><br>Prefeitura do Rio de Janeiro</p>
    </footer>
</body>
</html>