<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Unidades</title>
    <link rel="stylesheet" href="css/style_unidades.css">
    <link rel="icon" href="imagens/Logo-Nave-titulo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header class="menu">
        <a class="menu_link" class="item_menu" href="home.html">Nave do Conhecimento</a>
        <nav class="item_menu">
            <a class="menu_link" href="https://capacitacao.navedoconhecimento.rio/">Cursos</a>
            <a class="menu_link" href="eventos.html">Eventos</a>
            <a class="menu_link" href="unidades.html">Unidades</a>
            <a class="menu_link" href="area do aluno.html">Area do aluno</a>
        </nav>
    </header>
        </div>
    </header>

    <section class="item_unidade">
        <img class="img_unidade" src="imagens/nave-ol.jpg">
        <div>
            <h2>Nave Olimpica</h2> 
            <p>
            Endereço <br>
Rua Arquias Cordeiro, 1516, Engenho de Dentro <br>(em frente à Estação Olímpica de Engenho de Dentro) <br>
<br>
 Telefone <br>
(21) 97235-4209 <br>
<br>
 Horário de Funcionamento <br>
Nave do Conhecimento – Terça a sábado – de 9:00 às 21:00, Domingos – de 9:30 às 16:30 <br>
Museu Cidade Olímpica – Terça a sábado – de 10:00 às 20:00, Domingos – de 10:30 às 15:30 <br>
            </p>
        </div>
    </section>
    <section class="item_unidade">
        <img class="img_unidade" src="imagens/iraja.jpg" alt="">
        <div>
            <h2>Iraja</h2>
            <p>
                Endereço<br>
Praça Nossa Senhora da Apresentação<br>
<br>
Telefone<br>
(21) 97091-4633<br>
<br>
Horário de Funcionamento<br>
Segunda a sexta – de 9h às 21h,
Sábados – 9h30 às 16h30<br>
Domingos e feriados: Fechada<br>
            </p>
        </div>
    </section>
    <section class="item_unidade">
        <img class="img_unidade" src="imagens/madu_city.jpg" alt="">
        <div>
            <h2>Madureira</h2>
            <p>
                Endereço<br>
Parque Madureira Mestre Monarco, s/n – Altura da Rua Manoel Marques<br>
<br>
Telefone<br>
(21) 96629-1107<br>
<br>
Horário de Funcionamento<br>
Terça a Sábado – 9h às 21h,
Domingos – 9h30 às 16h30<br>
Segunda-feira e feriados: Fechada<br>
            </p>
        </div>
    </section>
    <section class="item_unidade">
        <img class="img_unidade" src="imagens/nova_brasilia.jpg" alt="">
        <div>
            <h2>Nova Brasilia</h2>
            <p>
                Endereço<br>
Praça do Terço, ao lado do CineCarioca, Complexo do Alemão<br>
<br>
Telefone<br>
(21) 99596-8551<br>
<br>
Horário de Funcionamento<br>
Segunda a sexta- de 9h às 21h,
Sábado – de 9h30 às 16h30<br>
Não abrirá ao público aos domingos e feriados<br>
            </p>
        </div>
    </section>
    
    <section class="item_unidade">
<img class="img_unidade" src="imagens/padre_miguel.jpg">
<div>
<h2>Padre Miguel</h2>
 <p>
Endereço<br>
Av. Marechal Marciano esquina com Rua do Açafrão<br>
<br>
Telefone<br>
(21) 97669-2169<br>
<br>
Horário de Funcionamento<br>
Segunda a sexta – de 9h às 21h,
Sábados – 9h30 às 16h30<br>
Domingos e feriados: Fechada
</p>
</div>
</section>

<section class="item_unidade">
<img class="img_unidade" src="imagens/penha.jpg">
<div>
<h2>Penha</h2>
<p>
Endereço<br>
Rua Santa Engrácia – Praça Santa Emiliana<br>
<br>
 Telefone<br>
21 99816-3309<br>
<br>
 Horário de Funcionamento<br>
Segunda a sexta – de 9h às 21h,
Sábados – 9h30 às 16h30<br>
Domingos e feriados: Fechada<br>
</p>
</div>
</section>

<section class="item_unidade">
<img class="img_unidade" src="imagens/santa_cruz.jpg">
<div>
<h2>Santa Cruz</h2>
<p>
Endereço<br>
Rua Barão de Loreto, s/ número<br>
Rio de Janeiro, RJ<br>
<br>
 Telefone<br>
(21) 97091-3626<br>
<br>
 Horário de Funcionamento<br>
Segunda a sexta – de 9h às 21h,
Sábados – 9h30 às 16h30<br>
Domingos e feriados: Fechada
</p>
</div>
</section>

<section class="item_unidade">
<img class="img_unidade" src="imagens/vila_aliança.jpg">
<div>
<h2>Vila aliança</h2>
<p>
Endereço<br>
Rua Antenor Corrêa nº 1. Vila Aliança<br>
<br>
 Telefone<br>
(21) 97091-3677<br>
<br>
 Horário de Funcionamento<br>
Segunda a sexta – de 9h às 21h,
Sábados – 9h30 às 16h30<br>
Domingos e feriados: Fechada
</p>
</div>
</section>

<section class="item_unidade">
<img class="img_unidade" src="imagens/triagem.jpg">
<div>
<h2>Triagem</h2>
<p>
Endereço<br>
Rua Bérgamo, 320 – Bairro Carioca<br>
<br>
 E-mail<br>
navedoconhecimentodetriagem@gmail.com<br>
<br>
Telefone<br>
(21) 97091-2605<br>
<br>
 Horário de Funcionamento<br>
Segunda a sexta – de 9h30 às 17h30,
Sábados – 9h30 às 14h30<br>
Domingos e feriados – Fechada
</p>
</div>
</section>

<footer>
    <p>Nave do conhecimento<br>Prefeitura do Rio de Janeiro</p>
</footer>

</body>